table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
  }
  
  th, td {
    border: 2px solid black; 
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    text-align: center;
    font-weight: bold;
  }