table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
  }
  
  th, td {
    border: 2px solid black; 
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    text-align: center;
    font-weight: bold;
  }

tbody tr:nth-child(4n+1), 
tbody tr:nth-child(4n+2) {
    background-color: pink; 
}

tbody tr:nth-child(4n+3), 
tbody tr:nth-child(4n+4) {
    background-color: lightblue;
}